**
!Dockerfile
!package.json
!package-lock.json
!tsconfig.json
!server.mjs
!server.ts
!world.ts
!shared/
!shared/**
!public/
!public/**
!scripts/
!scripts/build.mjs
!stress/
!stress/**
!storage/
!storage/**
